/**
    Gray background #E0E0E0
    Gray hover      #BABABA
    Gray selected   (todo)   
**/

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: DejaVuSans;
    src: url('DejaVuSans.ttf'); 
}

@font-face {
    font-family: DejaVuSansLight;
    src: url('DejaVuSans-ExtraLight.ttf'); 
}

/** Phoneme Grid **/

.phoneme_group_grid {
    display: grid;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid: repeat(8, 120px);
    width: 960px;
    /*font-family: DejaVuSans;*/
}

.phoneme_group_grid>.pos_1_1 {
    grid-row: 1;
    grid-column: 1;
}

.phoneme_group_grid>.pos_1_2 {
    grid-row: 1;
    grid-column: 2;
}

.phoneme_group_grid>.pos_1_3 {
    grid-row: 1;
    grid-column: 3;
}

.phoneme_group_grid>.pos_1_4 {
    grid-row: 1;
    grid-column: 4;
}

.phoneme_group_grid>.pos_1_5 {
    grid-row: 1;
    grid-column: 5;
}

.phoneme_group_grid>.pos_1_6 {
    grid-row: 1;
    grid-column: 6;
}

.phoneme_group_grid>.pos_1_7 {
    grid-row: 1;
    grid-column: 7;
}

.phoneme_group_grid>.pos_1_8 {
    grid-row: 1;
    grid-column: 8;
}

/** Phoneme Block **/

.phoneme_grid {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #E0E0E0;
    /* rgb(86, 183, 89);*/
    height: 120px;
    width: 120px;
    grid-auto-columns: 40px;
    grid-auto-rows: 40px;
}

.phoneme_grid:hover {
    background-color: #BABABA;
}

.phoneme_grid>div {
    /*border : 1px solid white;*/
}

.phoneme_sound {
    grid-row: 1;
    grid-column: 3;
    justify-self: center;
    align-self: center;


}

.phoneme_symbol {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    align-self: center;

    font-size: 3em;
}

.phoneme_example {
    grid-row: 3;
    grid-column: 2;
    justify-self: center;
    align-self: center;

    font-weight: 200;
    font-family: DejaVuSansLight;
    opacity: 0.7;
}

.phoneme_example > strong
{
    font-family: DejaVuSans;
}

.speaker {
    width: 16px;
    height: 16px;
}